<div class="wrapper">
    <form method="post" class="form-signin">
        <h1><img src="images/logo.png"></h1>
        <h2 class="form-signin-heading">Please login</h2>
        <input type="text" class="form-control" ng-model="user.name" name="username" placeholder="User Name" required="" autofocus="" />
        <input type="password" class="form-control" ng-model="user.password" name="password" placeholder="Password" required=""/>
        <button class="btn btn-lg btn-primary btn-block" ng-click="">Login</button>
    </form>
</div>